<!DOCTYPE html>
<html>
    <Head>
        <title>A Summarizer</title>
    </Head>
<body>
    <div>
        <center>
        <main className={styles.main}>
          <h3>Text summarization</h3>
          <h5> Your text </h5>
          <form action="/article_summary/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <div class="row">
          <div class="column" style="background-color:powderblue;">
            <h2>Summary of webpage</h2>
            <p>{{summary}}</p>
          </div>
          <div class="column" style="background-color:pink;">
              <h2>Json output of webpage</h2>
              <p>{{text}}</p>
            </div>
      </div>
        <form method="post" enctype = "multipart/form-data" action='/'>
          {% csrf_token %}
          <br></br>
          <input type="submit"  value="EXIT" style="background-color:#4CAF50">
        </form>
          </main>
        </center>
      </div>
</body>
</html>