<!DOCTYPE html>
<html>
    <Head>
        <title>A Summarizer</title>
    </Head>
<body>
    <div>
        <center>
        <main className={styles.main}>
          <h3>Text summarization</h3>
          <h5> Your text </h5>
          <form method="post" enctype = "multipart/form-data" action='/upload/'>
            {% csrf_token %}
            <textarea type="text" name ="text" style="width:300px; height:150px;"  minlength="100" required></textarea>
            <br></br>
            <input type="submit" value="Submit">
            <br></br>  
        </form>
        <form method="post" enctype = "multipart/form-data" action='/'>
          {% csrf_token %}
          <br></br>
          <input type="submit"  value="EXIT" style="background-color:#4CAF50">
        </form>
          </main>
        </center>
      </div>
</body>
</html>